*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond', serif;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4));
    background-image: url(bgstrts.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: auto;
}
.container1{
    padding: 20px auto;
    margin-left: 100px;
    margin-top: 30px ;
}
#hstrts{
    
        font-size: 40px;
        padding: 20px;
        background-color: black;
        opacity: 0.8;
        color: white;
        width: 280px;
        border: 2px solid black;
        border-radius: 20px;
        
    
    }
    .box{
        border: 2px solid rgb(75, 42, 21);
                width: 180px;
                height: 180px;
                margin: 20px;
                display: inline-block;
                border-radius: 20px;
                background-repeat: no-repeat;
               
    }
    #box1{
        background-image: url(fingerchips.jpg);
        background-size: cover;
        background-position: center;
    }
    #box2{
        background-image: url(vegmunch.jpg);
        background-size: cover;
        background-position: center;
    
    }
    #box3{
        background-image: url(paneer_chilly.jpg);
        background-size: cover;
        background-position: center;
    }
    #box4{
        background-image: url(paneer-65.jpg);
        background-size: cover;
        background-position: center;
    }
    #box5{
        background-image: url(Vegetable-65.jpg);
        background-size: cover;
        background-position: center;
    }
    #box6{
        background-image: url(crispy-chilli-potato.png);
        background-size: cover;
        background-position: center;
    }
    #box7{
        background-image: url(chillychicken.JPG);
        background-size: cover;
        background-position: center;
    }
    #box8{
            background-image: url(Tandoori-Chicken.jpg);
        background-size: cover;
        background-position: center;
    }
    #box9{
        background-image: url(chicken-lollipop.jpg);
        background-size: cover;
        background-position: center;
    }
.buttons{
    font-size: 17px;
    display: inline-block;
    margin-left: 10px;
    
 }
 .btn{
    background-color: white;
    font-weight: bold;
   
    color: rgb(92, 92, 92);
}
 
 #b1{
    
     padding: 10px;
     margin: 42px;
     text-decoration: none;
 }
 #b2{
    
     padding: 10px;
     margin: 54px;
     text-decoration: none;
    
 }
 #b3{
     
     padding: 10px;
     margin: 32px;
     text-decoration: none;
    
 }
 #b4{
     
     padding: 10px;
     text-decoration: none;
     margin: 79px;
 }
 #b5{
     
     padding: 10px;
     text-decoration: none;
     margin: 57px;
 }
 #b6{
     
     padding: 10px;
     text-decoration: none;
     margin: 15px;
 }
 #b7{
     
     padding: 10px;
     text-decoration: none;
     margin: 55px;
 }
 #b8{
     
     padding: 10px;
     text-decoration: none;
     margin: 25px;
 }
 #b9{
     
     padding: 10px;
     text-decoration: none;
     margin: 48px;
 }
 .btn1:hover{
    border: none;
    background-color: rgb(71, 67, 67);
}
.btn1{
    background-color: black;
     color: white;
     font-size: 17px;
     border-radius: 8px;
}

#a1{
   border: 2px solid black;
   padding: 10px;
   margin: 60px;
   text-decoration: none;
  
}
#a2{
   border: 2px solid black;
   padding: 10px;
   margin: 66px;
   text-decoration: none;
  
}
#a3{
   border: 2px solid black;
   padding: 10px;
   margin: 48px;
   text-decoration: none;
  
}
#a4{
   border: 2px solid black;
   padding: 10px;
   text-decoration: none;
   margin: 69px;
}
#a5{
   border: 2px solid black;
   padding: 10px;
   margin: 45px;
   text-decoration: none;
}
#a6{
    border: 2px solid black;
    padding: 10px;
    margin: 60px;
    text-decoration: none;
   
}
#a7{
    border: 2px solid black;
    padding: 10px;
    margin: 60px;
    text-decoration: none;
   
}
#a8{
    border: 2px solid black;
    padding: 10px;
    margin: 60px;
    text-decoration: none;
   
}
#a9{
    border: 2px solid black;
    padding: 10px;
    margin: 60px;
    text-decoration: none;
   
}